<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>199115793729-9oahosuql281lqb5k8jra0djq2lnvslt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.199115793729-9oahosuql281lqb5k8jra0djq2lnvslt</string>
	<key>API_KEY</key>
	<string>AIzaSyB3GZqWcp1aB5E2pLXHu21PHfH8e3hNW44</string>
	<key>GCM_SENDER_ID</key>
	<string>199115793729</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Vinicius.Snapchat-Clone</string>
	<key>PROJECT_ID</key>
	<string>clonesnapchat-2e9b6</string>
	<key>STORAGE_BUCKET</key>
	<string>clonesnapchat-2e9b6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:199115793729:ios:3f18715d29287bafa7edc0</string>
</dict>
</plist>